@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>@ViewData["Email"]</p>

<p>Professor @ViewData["Professor"]</p>

<address>
    <strong>Mais informações:</strong> <a href="educandoweb.com.br">EducandoWeb.com</a>
</address>
